<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <title>分类</title>
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/base.css">
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/cart.css">
</head>
<body>
<header class="topBar">
    <a href="#" class="icon_back"></a>
    <h3>购物车</h3>
    <a href="#" class="icon_menu"></a>
</header>

</body>
<script src="__PUBLIC__/js/index/common.js"></script>
<script src="__PUBLIC__/js/index/cart.js"></script>
</html>