<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <title>分类</title>
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/base.css">
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/category.css">
</head>
<body>
<header class="topBar">
    <a href="#" class="icon_back"></a>
    <form action="#">
        <input type="search" placeholder="分类提示">
    </form>
    <a href="#" class="icon_menu"></a>
</header>


<div class="category">
    <div class="category-left">
        <ul>
            <li class=""><a href="javascript:;">热门推荐</a></li>
            <li class="now"><a href="javascript:;">潮流女装</a></li>
            <li class=""><a href="javascript:;">品牌男装</a></li>
            <li class=""><a href="javascript:;">内衣配饰</a></li>
            <li class=""><a href="javascript:;">家用电器</a></li>
            <li class=""><a href="javascript:;">电脑办公</a></li>
            <li class=""><a href="javascript:;">手机数码</a></li>
            <li class=""><a href="javascript:;">母婴频道</a></li>
            <li class=""><a href="javascript:;">图书</a></li>
            <li class=""><a href="javascript:;">家居家纺</a></li>
            <li class=""><a href="javascript:;">居家生活</a></li>
            <li class=""><a href="javascript:;">家具建材</a></li>
            <li class=""><a href="javascript:;">热门推荐</a></li>
            <li class=""><a href="javascript:;">潮流女装</a></li>
            <li class=""><a href="javascript:;">品牌男装</a></li>
            <li class=""><a href="javascript:;">内衣配饰</a></li>
            <li class=""><a href="javascript:;">家用电器</a></li>
            <li class=""><a href="javascript:;">电脑办公</a></li>
            <li class=""><a href="javascript:;">手机数码</a></li>
            <li class=""><a href="javascript:;">母婴频道</a></li>
            <li class=""><a href="javascript:;">图书</a></li>
            <li class=""><a href="javascript:;">家居家纺</a></li>
            <li class=""><a href="javascript:;">居家生活</a></li>
            <li class=""><a href="javascript:;">家具建材</a></li>
        </ul>
    </div>
    <div class="category-right">
        <div class="category-box">
            <a href="#" class="banner"><img src="__PUBLIC__/image/web/banner_1.jpg" alt=""></a>
            <div class="product_box">
                <h3>热门分类</h3>
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="product_box">
                <h3>热门分类</h3>
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__PUBLIC__/image/web/nv-fy.jpg" alt="">
                            <p>毛呢大衣</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


</body>
<script src="__PUBLIC__/js/index/common.js"></script>
<script src="__PUBLIC__/js/index/swipe.js"></script>
<script src="__PUBLIC__/js/index/category.js"></script>
</html>