<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <title>分类</title>
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/base.css">
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/category.css">
</head>
<body>
<header class="topBar">
    <a href="#" class="icon_back"></a>
    <form action="#">
        <input type="search" placeholder="分类提示">
    </form>
    <a href="#" class="icon_menu"></a>
</header>
</body>
<script src="__PUBLIC__/js/index/common.js"></script>
<script src="__PUBLIC__/js/index/category.js"></script>
</html>