{layout name='common/main'}
<div class="container-fluid">
    <div class="row w margin-top">
        <div class="col-md-12">
            <h1>色组:</h1>
            <hr>
            <div class="color-container"><span class="color-block" style="background-color: #e1e1e1"></span><span class="color-text">#e1e1e1</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #e2e2e2"></span><span class="color-text">#e2e2e2</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #e3e3e3"></span><span class="color-text">#e3e3e3</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #e4e4e4"></span><span class="color-text">#e4e4e4</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #e5e5e5"></span><span class="color-text">#e5e5e5</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #e6e6e6"></span><span class="color-text">#e6e6e6</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #3e4b5e"></span><span class="color-text">#3e4b5e</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #fcbe85"></span><span class="color-text">#fcbe85</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #7eccf3"></span><span class="color-text">#7eccf3</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #b9bdc0"></span><span class="color-text">#b9bdc0</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #f4f9ff"></span><span class="color-text">#f4f9ff</span></div>
            <hr>
            <div class="color-container"><span class="color-block" style="background-color: #ecac30"></span><span class="color-text">#ecac30</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #d57153"></span><span class="color-text">#d57153</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #483032"></span><span class="color-text">#483032</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #dda346"></span><span class="color-text">#dda346</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #d88d3e"></span><span class="color-text">#d88d3e</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #571b35"></span><span class="color-text">#571b35</span></div>
            <hr>
            <div class="color-container"><span class="color-block" style="background-color: #edab31"></span><span class="color-text">#edab31</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #d57052"></span><span class="color-text">#d57052</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #4a2f34"></span><span class="color-text">#4a2f34</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #e0a348"></span><span class="color-text">#e0a348</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #d88c3e"></span><span class="color-text">#d88c3e</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #571b35"></span><span class="color-text">#571b35</span></div>
            <hr>
            <div class="color-container"><span class="color-block" style="background-color: #f87678"></span><span class="color-text">#f87678</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #ff406c"></span><span class="color-text">#ff406c</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #ffffff"></span><span class="color-text">#ffffff</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #d0d0d0"></span><span class="color-text">#d0d0d0</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #515151"></span><span class="color-text">#515151</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #ffaaaf"></span><span class="color-text">#ffaaaf</span></div>
            <hr>
            <div class="color-container"><span class="color-block" style="background-color: #5860ab"></span><span class="color-text">#5860ab</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #5d65ad"></span><span class="color-text">#5d65ad</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #6b93b7"></span><span class="color-text">#6b93b7</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #3f4368"></span><span class="color-text">#3f4368</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #666a8f"></span><span class="color-text">#666a8f</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #eff6e6"></span><span class="color-text">#eff6e6</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #a1b3e5"></span><span class="color-text">#a1b3e5</span></div>
            <hr>
            <div class="color-container"><span class="color-block" style="background-color: #e2ffff"></span><span class="color-text">#e2ffff</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #fffaf4"></span><span class="color-text">#fffaf4</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #feffff"></span><span class="color-text">#feffff</span></div>
            <div class="color-container"><span class="color-block" style="background-color: #2dc49b"></span><span class="color-text">#2dc49b</span></div>






        </div>
    </div>
</div>