{layout name='common/main'}

<div class="container-fluid">
    <div class="row w margin-top">
        <div class="col-md-3"><img src="__PUBLIC__/image/avatar.jpg" alt="头像" class="img-thumbnail avatar"></div>
        <div class="col-md-9">
            <h1 class="name">孙小悟同学</h1>
            <div class="say-container">
                <span class="say">座右铭
                </span>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                人生就是向死而生的旅程~
            </div>

            <div class="btn-group btn-group-lg pull-right position-bottom" role="group">
                <a type="button" class="btn btn-default" href="{:url('color')}">色组</a>
                <button type="button" class="btn btn-default">后端</button>
                <button type="button" class="btn btn-default">日志</button>
            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row w">
        <div class="col-md-12">
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Active link</a></li>
                <li role="presentation" class=""><a href="#"> link</a></li>
                <li role="presentation" class=""><a href="#"> link</a></li>
            </ul>

            {:url('color')}
        </div>
    </div>

</div>