<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <title>移动商城</title>
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/base.css">
    <link charset="utf-8" rel="stylesheet" href="__PUBLIC__/css/index/web.css">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="header-box">
            <a href="" class="icon_logo"></a>
            <form action="#">
                <a href="#" class="icon_search"></a>
                <input class="search" type="text">
            </form>
            <a href="#" class="search-btn">搜索</a>
        </div>
    </div>
    <div class="banner">
        <ul class="clearfix">
            <li><a href=""><img src="__PUBLIC__/image/web/l8.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l1.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l2.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l3.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l4.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l5.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l6.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l7.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l8.jpg" alt=""></a></li>
            <li><a href=""><img src="__PUBLIC__/image/web/l1.jpg" alt=""></a></li>
        </ul>
        <ul>
            <li class="now"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="nav">
        <ul class="clearfix">
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav0.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav1.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav2.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav3.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav4.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav5.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav6.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="__PUBLIC__/image/web/nav7.png" alt="">
                    <p>分类查询</p>
                </a>
            </li>
        </ul>
    </div>


    <div class="product">
        <section class="product-box">
            <div class="product-title no_border">
                <div class="f_left">
                    <span class="sk_icon"></span>
                    <span class="sk_name">掌上秒杀</span>
                    <div class="sk_time">
                        <span>0</span>
                        <span>1</span>
                        <span>:</span>
                        <span>1</span>
                        <span>4</span>
                        <span>:</span>
                        <span>3</span>
                        <span>9</span>
                    </div>
                </div>
                <div class="f_right">
                    <a href="#" class="m_r10">更多&gt;</a>
                </div>
            </div>
            <div class="product-con">
                <ul class="sk_product clearfix">
                    <li>
                        <a href="#"><img src="__PUBLIC__/image/web/detail01.jpg" alt=""></a>
                        <p>¥10.00</p>
                        <p>¥100.00</p>
                    </li>
                    <li>
                        <a href="#"><img src="__PUBLIC__/image/web/detail02.jpg" alt=""></a>
                        <p>¥10.00</p>
                        <p>¥100.00</p>
                    </li>
                    <li>
                        <a href="#"><img src="__PUBLIC__/image/web/detail01.jpg" alt=""></a>
                        <p>¥10.00</p>
                        <p>¥100.00</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="product-box">
            <div class="product-title">
                <h3>掌上超市</h3>
            </div>
            <div class="product-con clearfix">
                <a href="#" class="f_left w_50 b_right"><img src="__PUBLIC__/image/web/cp1.jpg" alt=""></a>
                <a href="#" class="f_right w_50 b_bottom"><img src="__PUBLIC__/image/web/cp2.jpg" alt=""></a>
                <a href="#" class="f_right w_50"><img src="__PUBLIC__/image/web/cp3.jpg" alt=""></a>
            </div>
        </section>

        <section class="product-box">
            <div class="product-title">
                <h3>掌上超市</h3>
            </div>
            <div class="product-con clearfix">
                <a href="#" class="f_right w_50 b_left"><img src="__PUBLIC__/image/web/cp4.jpg" alt=""></a>
                <a href="#" class="f_left w_50 b_bottom"><img src="__PUBLIC__/image/web/cp5.jpg" alt=""></a>
                <a href="#" class="f_left w_50"><img src="__PUBLIC__/image/web/cp6.jpg" alt=""></a>
            </div>
        </section>

        <section class="product-box">
            <div class="product-title">
                <h3>掌上超市</h3>
            </div>
            <div class="product-con clearfix">
                <a href="#" class="f_left w_50 b_right"><img src="__PUBLIC__/image/web/cp1.jpg" alt=""></a>
                <a href="#" class="f_right w_50 b_bottom"><img src="__PUBLIC__/image/web/cp2.jpg" alt=""></a>
                <a href="#" class="f_right w_50"><img src="__PUBLIC__/image/web/cp3.jpg" alt=""></a>
            </div>
        </section>

    </div>

</div>

<script src="__PUBLIC__/js/index/common.js"></script>
<script src="__PUBLIC__/js/index/web.js"></script>
</body>
</html>