html,body{
    height: 100%;
}

/*顶部通栏*/
.topBar{
    height: 45px;
    background: url("/public/static/image/web/header-bg.png") repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #e0e0e0;
    position: absolute;
    width: 100%;
}
.topBar [class^="icon_"]{
    width: 40px;
    height: 44px;
    position: absolute;
    padding: 12px 10px;
    /*按钮大小需要设置偏大  用户体验*/
    top: 0;
    background-origin: content-box;/*定位以内容开始定位*/
    background-clip: content-box;/*显示背景 从内容开始显示*/
}
/*按钮大小不变  但是显示的背景区域 要变小*/
.topBar .icon_back{
    left: 0;
    background-position: -20px 0;
}
.topBar .icon_menu{
    right: 0;
    background-position: -60px 0;
}
.topBar form{
    width: 100%;
    padding: 0 40px;
}
.topBar form input{
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-top: 7px;
    padding-left: 5px;
}
.topBar h3{
    text-align: center;
    line-height: 44px;
    font-weight: normal;
    font-size: 16px;
}

